{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="containe header-container">
    <div class="row">

    </div>
</div>

{% endblock page_header %}

{% block content %}

<div class="overlay"></div>
<div class="container cart-container">
    <div class="row">
        <div class="col col-12">
            <h2 class="my-3">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3">
                            <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                                <img class="img-fluid rounded cart-img" src="{{ item.product.image_url }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}No-Image.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            </a>
                        </td>
                        <td class="py-3 w-10">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">sku: {{ item.product.sku|upper }}</p>
                            <p class="my-0">{{ item.product.size }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€ {{ item.product.price }}</p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-success rounded-0"
                                                data-item_id="{{ item.item_id }}"
                                                id="decrement-qty_{{ item.item_id }}">
                                                <span class="qty-icon">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-success rounded-0"
                                                data-item_id="{{ item.item_id }}"
                                                id="increment-qty_{{ item.item_id }}">
                                                <span class="qty-icon">
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-dark text-muted">
                                <small><i class="fas fa-check"></i>  Update</small>
                            </a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€ {{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                        <td>
                            <a class="remove-item text-danger pt-5" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}">
                                <small><i class="fas fa-trash"></i> Delete</small>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Cart Total: € {{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: € {{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: € {{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just
                                <strong>€ {{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-keep-shopping btn-shop rounded-0">
                                <span class="icon">
                                    <i class="fas fa-chevron-left mr-2"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-checkout rounded-0 btn-shop">
                                <span class="text-uppercase mr-2">Secure Checkout</span>
                                <span class=""><i class="fas fa-lock"></i></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    {% include 'products/includes/qty_input_script.html' %}
    {% include 'cart/includes/cart_qty_script.html' %}

{% endblock postloadjs %}

