{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-body text-center">
                <h3 class="card-title font-weight-bold">Vero Perfume Alert!</h3>
                <p>Are you sure you want to delete your account?</p>
            </div>
        </div>
    </div>
    <!--Delete user profile-->
    <div class="text-center mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <a><button class="btn btn-shop text-white font-weight-bold mr-2" type="submit">NO</button></a>
            <a href="{% url 'profile' %}" class="btn btn-shop text-white font-weight-bold">YES</a>
        </form>
    </div>
    <hr>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}