{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

<!---The profile page has been adapated from CI Boutique Ado project-->

{% block content %}
<div class="overlay"></div>
<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="mb-4">{{ profile }} Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-12 col-lg-6 ml-auto p-0">
                    <a class="btn btn-black float-right">Update Information</a>
                </div>

            </form>
        </div>

    </div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}