@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body {

    font-family: Lato, "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1px;
}

/* from Bulma */
.search-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/*----------------------------navbar */
.logo-img {
    max-width: 80px !important;
    border-radius: 50%;
}

.text-black {
    font-family: Lato, sans-serif !important;
    color: #000 !important;
    font-weight: bold;
}

/* .nav-link i {
    color: rgb(149, 8, 177);
} */

.nav-link:hover {
    color: #3A36BF !important;
    text-shadow: 2px 2px 3px #3A36BF;
    transition: all, .3s ease-in-out;
    transform: scale(1.1);
}
.fa-user,
.fa-heart,
.fa-shopping-cart,
.reviews-links {
    color: #3A36BF !important;
}

.list-inline-item:hover,
.main-nav-item:hover {
    border-bottom: 1px solid #3A36BF;

}

.border-black {
    border: 1px solid black !important;
    border-radius: 20px;
}

.input-btn {
    background-color: rgb(149, 8, 177);
}

.input-btn:hover {
    background-color: #3A36BF;
}

.signup-container {
    margin-top: 100px;
}

#delivery-banner {
    background-color: #3A36BF;
}

/*--------------------Carousel landing hero images */
.carousel-text {
    font-family: Bree Serif;
}
.carousel-container {
    margin-top: 100px;
}
.carousel-caption {
    border-radius: 50%;
    background-color: #3A36BF;
    left: 19%;
    right: 19%;
}

.home-page-card img {
    width: fit-content;
    height: auto;
}

/*---------------------------------buttons */
.btn-card,
.btn-shop,
.btn-carousel {
    height: 40px;
    width: 200px;
    background: rgb(149, 8, 177);
    font-weight: bold !important;
    color: white;
}

.btn-shop:hover,
.btn-shop:active,
.btn-shop:focus,
.btn-primary:hover,
.btn-carousel:hover {
    background: #3A36BF;
    color: white;
}

.btn-form,
.btn-card,
.btn-carousel,
.btn-shop {
    height: 40px;
    width: 200px;
    font-weight: bold !important;
    color: white;
    border-radius: 18px !important;
}

.btn-checkout-deals {
    background: rgb(149, 8, 177);
    color: white;
}

.info-icon {
    font-size: 20px;
}



/*--------------------------Bootstrap toasts */

.message-container {
    position: fixed;
    z-index: 9999999999;
    top: 72px;
    right: 15px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-cart-icon i {
    color: white !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--------------------------profile */
.profile-container,
.error-page-container {
    margin-top: 200px;
}

.card-img-top {
    width: 220px;
    height: auto;
}

#personal-details-div {
    display: none;
}

/*---------------------product page */

.product-card img:hover {
    transition: all, .3s ease-in-out;
    -webkit-transform: scale(1.13);
    transform: scale(1.13);
}

.fa-star {
    color: rgb(247, 188, 28);
}

.fa-tag {
    color: #3A36BF;
}

.product-detail-container,
.add-product-container,
.edit-product-container {
    margin-top: 200px;
}

a.category-badge>span.badge:hover {
    background: #3A36BF !important;
    color: #fff !important;
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.product-size-hidden {
    display: none;
}

.wishlist-link {
    position: absolute;
    top: 20px;
    color: #3A36BF;
}

.description-container {
    display: flex;
    justify-content: center;
    align-content: center;
   
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

.text-

/* -------------------Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*--------------------------cart page */
.cart-container {
    margin-top: 180px;
}

.cart-img {
    width: 70px;
    height: auto;
}

.table td {
    vertical-align: middle !important;
}

.update-form {
    width: 150px;
}

#product-count,
#wishlist-count,
#item-count {
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    vertical-align: top;
    margin-left: -9px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/*----------------------------footer */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 12px Helvetica, Arial, sans-serif;
}

.brandingLogo img {
    width: 150px;
    border-radius: 10px;
}

.subscribe-btn,
.add-review-btn {
    width: 130px !important;
    
}

.newsletter {
    box-shadow: 0px 0px 8px 3px rgb(219, 214, 248);
}

.footer-link {
    color: white !important;
}

#footer-container {
    background: #3A36BF;
}


/*---------------------------policy modal*/

.modal-header {
    border-bottom: 1px solid #3A36BF;
}
.modal-footer {
    border-top: 1px solid #3A36BF;
}
.modal-content {
    padding: 18px;
    box-shadow: 0px 0px 10px 6px #3A36BF;
}

/*---------------------------forms*/

#signup_form,
#login-form,
#address-form,
.password_reset,
#payment-form,
#order-confirmation,
#add-product-form,
#edit-product-form,
#contact-box,
.review-form {
    box-shadow: 0px 0px 8px 3px rgb(219, 214, 248);
    
}

/*---------------------------media queries */
@media (min-width: 1200px) {
    .header-container {
        padding-top: 200px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .allauth-form-inner-content {
        margin-top: 200px;
    }
}

@media (min-width: 991px) {

   .product-page-container {
       margin-top: 70px;
   }
}

@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }

    h3,
    h4 {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem;
    }

    .header-container {
        padding-top: 116px;
    }

    .navbar {
        justify-content: space-evenly;
    }

    .navbar-toggler {
        padding: 0.1rem 0.4rem;
        font-size: 1rem;
    }

    .main-nav-item {
        margin-left: 40px;
    }

    .carousel-container {
        margin-top: 0;
    }
    .carousel-caption {
        left: 15%;
        right: 15%;
    }

    .display-4 {
        font-size: 2rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
    .product-page-container {
        margin-top: 0px;
    }

    .product-detail-container,
    .add-product-container,
    .edit-product-container,
    .policy-container {
        margin-top: 100px;
    }

    .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .wishlist-link {
        position: absolute;
        top: 20px;
        right: 80px;
    }

    .cart-container {
        margin-top: 80px;
    }

    .checkout-success-container,
    .checkout-container {
        margin-top: 90px !important;
    }

    .profile-container {
        margin-top: 100px;
    }

    .bi-arrow-up-square-fill {
        width: 25px;
        height: 25px;
    }

}

@media (max-width: 767px) {

    .main-nav-item {
        margin-left: 35px;
    }
    .carousel-container {
        margin-top: 50px;
    }
    .home-page-card img {
        max-width: 300px;
        height: auto;
    }


    .product-info-form {
       margin: 0 auto !important;
    }

    .btn-div {
        justify-content: center !important;
        align-items: center;
    }

    .description-container {
        margin-top: 10px;
    }
    .review-container {
        margin-top: 10px !important;
    }

    .btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-container {
        margin-top: 100px;
    }

    .social-icons a {
        font-size: 25px;
        padding: 20px 10px 5px;
    }

    .btn-1,
    .btn-2 {
        height: 40px;
        width: 130px;
        font-weight: bold !important;
        color: white;
        border-radius: 18px !important;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    /* -------------------navbar */
    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1999;
    }

    .navbar-toggler {
        font-size: 0.8rem;
    }

    .main-nav-item {
        margin-left: 25px;
    }

    .carousel-item {
        padding-top: 60px;
    }

    .carousel-container {
        margin-top: 20px;
    }

    .wishlist-link {
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .nav-link i.fa-lg {
        font-size: 15px;
    }

    .bi-arrow-up-square-fill {
        width: 20px;
        height: 20px;
        right: 5px;
    }

    .btn-checkout {
        margin-top: 10px;
    }
    .subscribe-btn {
        margin-bottom: 10px;
    }

}