@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body {

    font-family: Lato, "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/*----------------------------navbar */
.logo-img {
    max-width: 80px;
    border-radius: 50%;
}

.text-black {
    font-family: Lato, sans-serif !important;
    color: #000 !important;
    font-weight: bold;
}

/* .nav-link i {
    color: rgb(149, 8, 177);
} */

.nav-link:hover {
    color: #3A36BF !important;
    text-shadow: 2px 2px 3px #3A36BF;
    transition: all, .3s ease-in-out;
    transform: scale(1.1);
}

.list-inline-item:hover,
.main-nav-item:hover {
    border-bottom: 1px solid #3A36BF;

}

.border-black {
    border: 1px solid black !important;
    border-radius: 20px;
}

.input-btn {
    background-color: rgb(149, 8, 177);
}

.input-btn:hover {
    background-color: #3A36BF;
}

.signup-container {
    margin-top: 100px;
}

#delivery-banner {
    background-color: #3A36BF;
}


/*----------------------------Carousel landing hero images */

.carousel-item img{
   
    
}

.carousel-text {
    font-family: Bree Serif;
}

.btn-shop {
    font-weight: bold !important;
    background: rgb(149, 8, 177);
    color: white;
}

.btn-card,
.btn-carousel {
    height: 40px;
    width: 200px;
    background: rgb(149, 8, 177);
    font-weight: bold !important;
    color: white;
}

.btn-shop:hover,
.btn-shop:active,
.btn-shop:focus {
    background: #3A36BF;
}

.info-icon {
    font-size: 20px;
}

/*--------------------------Bootstrap toasts */

.message-container {
    position: fixed;
    z-index: 9999999999;
    top: 72px;
    right: 15px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*--------------------------profile */
.profile-container {
    margin-top: 200px;
}


.card-img-top {
    width: 220px;
    height: auto;
}


/*---------------------product page */

.product-card img:hover {
    transition: all, .3s ease-in-out;
    -webkit-transform: scale(1.13);
    transform: scale(1.13);
}

.fa-star {
    color: rgb(247, 188, 28);
}

.fa-tag {
    color: #3A36BF;
}

.product-detail-container {
    margin-top: 200px;
}

a.category-badge>span.badge:hover {
    background: #3A36BF !important;
    color: #fff !important;
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.product-size-hidden {
    display: none;
}

.wishlist-link {
    position: absolute;
    top: 20px;
    color: #3A36BF;
}

.description-container {
    display: flex;
    justify-content: center;
    align-content: center;
   
}

.hidden {
    /* visibility: hidden; */
    display: none;
}


/*-------------------------cart page */
.cart-container {
    margin-top: 180px;
}

.cart-img {
    width: 70px;
    height: auto;
}

.table td {
    vertical-align: middle !important;
}

.update-form {
    width: 150px;
}

#product-count {
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    vertical-align: top;
    margin-left: -9px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}



/*----------------------------footer */

.social-icons a {
    font-size: 30px;
    padding: 30px;
    color: #3A36BF;
}


/*---------------------------media queries */
@media (min-width: 1200px) {
    .header-container {
        padding-top: 200px;
    }


   
}

@media (min-width: 991px) {


   .product-page-container {
       margin-top: 70px;
   }


}

@media (max-width: 991px) {

    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 116px;
    }

    .product-page-container {
        margin-top: 0px;
    }

    .product-detail-container {
        margin-top: 100px;
    }

    .image-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .wishlist-link {
        position: absolute;
        top: 20px;
        right: 80px;
    }

    .cart-container {
        margin-top: 80px;
    }
}

@media (max-width: 767px) {

    .product-info-form {
       margin: 0 auto !important;
    }

    .btn-div {
        justify-content: center !important;
        align-items: center;
    }

    .description-container {
        margin-top: 10px;
    }

    .btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }



}


@media (min-width:320px) and (max-width: 480px) {
    /* -------------------navbar */

    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1999;
    }

    .carousel-item {
        padding-top: 60px;
    }

    .wishlist-link {
        position: absolute;
        top: 20px;
        right: 50px;

    }


   
}