@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Ultra&display=swap');

body {

    font-family: Lato, "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}


/*----------------------------navbar */
.logo-img {
    max-width: 100px;
    border-radius: 50%;
}

.text-black {
    font-family: Lato, sans-serif !important;
    color: #000 !important;
    font-weight: bold;
}

/* .nav-link i {
    color: rgb(149, 8, 177);
} */

.nav-link:hover {
    color: #3A36BF !important;
    text-shadow: 2px 2px 3px #3A36BF;
    transition: all, .3s ease-in-out;
    transform: scale(1.1);
}

.border-black {
    border: 1px solid black !important;
    border-radius: 20px;
}

.input-btn {
    background-color: rgb(149, 8, 177);
}

.input-btn:hover {
    background-color: #3A36BF;
}

/*----------------------------Carousel landing hero images */
/* #carousel-container {
    margin-top: 50px;
} */

.carousel-text {
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
}

.btn-shop-now {
    font-weight: bold !important;
    background: rgb(149, 8, 177);
    width: 200px;
    color: white;
}

.btn-card {
    height: 50px;
    width: 200px;
}

.btn-shop-now:hover,
.btn-shop-now:active,
.btn-shop-now:focus {
    background: #3A36BF;
}


/*---------------------------media queries */
@media (min-width: 1200px) {

    header-container {
        padding-top: 200px;
    }
    
   
}


@media (min-width:320px) and (max-width: 480px) {
    /* -------------------navbar */

    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1999;
    }

    .carousel-item {
        padding-top: 60px;
    }


   
}