{% extends "base.html" %}
{% load static %}

{% block extra_title %}Error{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container error-page-container">
    <div class="row">
        <div class="col mt-3">
            <h1 class="font-weight-bold">500 Error <i class="fas fa-exclamation-triangle"></i></h1>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-5">
            <h2>Ooops - server error.</h2>
            <p class="my-3">Try navigating above to another part of the page or &nbsp; &nbsp;<a href="{% url 'home' %}"
                    class="btn btn-shop mt-3 mt-md-0">Return to Home</a></p>
        </div>
    </div>
</div>
{% endblock %}