{% load static %}

<footer>
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="social-icons d-flex flex-row">
                <a href="https://www.facebook.com/" target="_blank"
                    aria-label="Visit our Facebook page (open in a new tab">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank"
                    aria-label="Visit our twitter page (open in a new tab">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank"
                    aria-label="Visit our instagram page (open in a new tab">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/" target="_blank"
                    aria-label="Visit our youtube channel (open in a new tab">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-credit text-center">
        <p class="p-3">
            <a href="">Vero Perfume</a> &copy; 2022 built by Veronica Lourens
        </p>
    </div>
</footer>