
<!--search box-->
<div class="list-inline-item" id="search-box">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="search">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black" type="text" name="q"
                    placeholder="Search for your favorite perfume">
                <div class="input-group-append">
                    <button class="form-control btn input-btn btn-black border border-black" type="submit"
                        title="Search">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--account, favorite & shopping cart-->

<div class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" aria-label="account">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
            {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
        {% endif %}
    </div>
</div>
<div class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options"
        aria-haspopup="true" aria-expanded="false" aria-label="favorite">
        <div class="text-center">
            <div><i class="fas fa-heart fa-lg"></i></div>
        </div>
    </a>
</div>
<div class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="{% url 'view_cart' %}" id="user-options" aria-haspopup="true"
        aria-expanded="false" aria-label="cart">
        <div class="text-center">
            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
        </div>
    </a>
</div>
   


  