{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<div class="text-center fw-bold">
    <h3 class="font-weight-bold mb-4">{% trans "Sign Up" %}</h3>
    <hr>

    <p class="my-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>



<form class="signup bg-light mb-5" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="justify-content-center">
        <input type="checkbox" name="terms" id="terms">
        <label for="terms" class="text-muted">I agree to the terms and conditions.</label>
    </div>
    <div class="form-group my-3 text-center">
        <a class="btn btn-shop fw-bold mb-3" href="{% url 'home' %}">Back</a>
        <button class="btn btn-shop fw-bold mb-3" type=" submit">{% trans "Sign Up" %} &raquo;</button>
    </div>
</form>
  



{% endblock %}
