<!-- Delete product review modal -->
<div class="modal fade" id="deleteReview" tabindex="-1" aria-labelledby="deleteReview" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReview">Delete review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this review?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-shop" data-dismiss="modal">NO</button>
                <a href="{% url 'delete_review' review.id %}" class="btn btn-shop">
                    YES
                </a>
            </div>
        </div>
    </div>
</div>
