{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid product-detail-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="mb-0">{{ product.name }}</h3>
                {% if product.brand %}
                <p class="small mt-1 mb-0">
                    <a class="text-black" href="{% url 'products' %}?brand={{ product.brand.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.brand.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.gender %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?gender={{ product.gender }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.gender }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-6">

                            <!--The below code works that displays different prices base on the size selected-->
                            <div>
                                <p class="mt-1"><strong>Price:</strong></p>
                                
                                    
                                <div id="30ml" class="product-size-hidden">€ 1{{ price }}</div>
                                <div id="50ml" class="product-size-hidden">€ 2{{ price }}</div>
                                <div id="75ml" class="product-size-hidden">€ 3{{ price }}</div>
                                <div id="100ml" class="product-size-hidden">€ {{ product.price }}</div>
                               
                            </div>
                            <p class="mt-1"><strong>Size:</strong></p>

                            <!--Display the dropdown list of sizes-->
                            <div class="form-group w-100">
                                {% if product.size %}
                                <div class="input-group">
                                    <label for="size_input" hidden>Size</label>
                                    <select class="form-control mx-auto" name="product_size" id="product-size">
                                        {% for size in form.size %}
                                            {{ size }}
                                        {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <!--Display different prices-->
                        <!-- <div class="col-6">
                            <p class="mt-1"><strong>Price:</strong></p>
                            <div class="form-group w-100">
                                {% if product.price %}
                                {% for price in prices %}
                                <div class="hidden">
                                    <label for="size_input" hidden>Price</label>
                                    <p class="mx-auto" name="product_price" id='id_product_price'>
                                        <option value="{{ price }}">€ {{ price }}</option>
                                    </p>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div> -->
                       
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-success decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}" aria-label="Decrement quantity">
                                            <span class="qty-icon">
                                                <i class="fas fa-minus"></i>
                                                
                                            </span>
                                        </button>
                                    </div>
                                    <label for="qty_input" hidden>Quantity</label>
                                    {% for quantity in form.quantity %}
                                    <input class="form-control qty_input id_qty_{{ product.id }}" id="qty_input" 
                                        type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                    {% endfor %}
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-success increment-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}" aria-label="Increment quantity">
                                            <span class="qty-icon">
                                                <i class="fas fa-plus"></i>
                                                
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <a href="{% url 'products' %}"
                                    class="btn btn-outline-black btn-shop rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left mr-2"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="submit" class="btn btn-black rounded-0 btn-shop
                                    text-uppercase mt-5" value="Add to Cart">
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 mt-3">
            <h2 class="">Description</h2>
            <hr class="w-100 mb-1">
            <p class="mt-3">{{ product.description }}</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/product.js' %}"></script>
   
    {% include 'products/includes/qty_input_script.html' %}

{% endblock postloadjs %}

